html,
body {
    height: 100%;
}

.vcenter {
    vertical-align: middle;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.btn-custom {
    background-color: #357CA5;
}
.btn-custom:hover {
    background-color: #3C8DBC!important;
}

.icon-action-wrapper {
    display: inline-block;
    margin: 0 5px;
}
.form-row > div, .form-row .address-actual-wrap > div, .form-row .address-registration-wrap > div {
    margin-bottom: 30px;
}
.form-row .help-block {
    position: absolute;
}
.error-page {
    padding: 120px 0;
}

ul.sidebar-menu.tree .treeview-menu li {
    white-space: normal;
}
.search-form {
    display: inline-block;
    float: right;
}
.products-button-create {
    display: inline-block;
}
.search-form form {
    position: relative;
}
.search-form input {
    width: 280px;
    display: inline-block;
}
.search-form button{
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0px;*/
    background: #3C8DBC;
    height: 100%;
    /*width: 30px;*/
    text-align: center;
    padding-top: 3px;
    outline: none;
    border: none;
    color: white;
    transition: all .15s ease;
    padding: 7px 20px;
    margin-top: 25px;
}
.search-form button:hover{
    background-color: #367fa9;
}
.suppliers-products-comparison.update-price button {
    background-color: #f39c12;
    border-color: #e08e0b;
}
.suppliers-products-comparison.update-price button:hover {
    background-color: #E08E0B;
}
.suppliers-products-comparison-href:hover {
    text-decoration: underline;
}
.search-form select {
    display: inline-block;
    width: 175px;
    margin-right: -4px;
}

.btn-remove-attr, .btn-add-attr {
    height: 74px;
    line-height: 80px;
    text-align: center;
}

.nav-tabs-custom > li {
    border: 1px solid #F4F4F4;
    border-top: solid 3px #F4F4F4;
}
.nav-tabs-custom > li.active {
    background-color: #F4F4F4;
 }
.products-update .nav-tabs-custom > li.active {
    border-top-color: #00C0EF;
}
.content .nav-tabs-custom {
    margin-bottom: 0;
}
.tab-content {
    background: #fff;
    padding: 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

/*LOGIN PAGE*/
.login-page .login-box-body, .register-box-body {
    border-top: 3px solid #d2d6de;
}

.login-page {
    height: 100vh!important;
    overflow: hidden;
}
.login-page .login-logo a{
    color: #ffffff;
}
.login-page .fullscreen-bg {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
}

.login-page .fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    z-index: -1;
    height: auto;
}

.login-page .login-box-wrapper {
    background: rgba(0,0,0,0.6);
    position: absolute;
    top:0;
    left:0;
    z-index: 4;
    width: 100%;
    height: 100%;
}

.login-page .login-box-wrapper .login-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 360px;
    max-height: 360px;
}
/*LOGIN PAGE*/

.suppliers-products-comparison-form .field-suppliersproductscomparison-product_id, .field-importcategories-supplier_id:first-child,
.field-exportcategories-category_id{
    margin-bottom: 0;
}

.product-comparison-table thead th, .product-images-table tbody tr td {
    vertical-align: middle!important;
}

.search-product-comparison.search-form button,
.search-products-prices.search-form button,
.suppliers-products-comparison.update-price button {
    position: inherit;
    width: auto;
    padding: 7px 20px;
    margin-top: 25px;
}
.search-product-comparison, .search-products-prices {
    float: none;
    width: 100%;
}
.search-form label{
    display: block;
}
.search-form .form-control{
    max-width: 100%;
    width: 100%;
}

.search-products-prices .form-group > div {
    margin-bottom: 15px;
}

.search-product-comparison .row > div {
    margin-bottom: 10px;
}

.analytics-products-prices thead tr th {
    text-align: center;
    vertical-align: middle;
}

.analytics-products-prices .analytics-products-id-head, .analytics-products-prices .analytics-products-id {
    width: 85px;
    max-width: 85px;
    overflow-x: auto;
    white-space: nowrap;
    vertical-align: middle;
}

.analytics-products-prices .analytics-products-name-head, .analytics-products-prices .analytics-products-name {
    width: 250px;
    max-width: 250px;
    overflow-x: hidden;
    white-space: nowrap;
}
/*.analytics-products-prices .analytics-products-name {*/
    /*position: relative;*/
/*}*/

.analytics-products-prices .analytics-products-price-body, .analytics-products-prices tr td:last-child, .analytics-products-id{
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

body::-webkit-scrollbar {
    width: 10px!important;
}
body::-webkit-scrollbar-thumb {
    background-color: #3C8DBC;
    outline: 1px solid slategrey;
}

.analytics-products-prices .analytics-products-name .text-muted{
    font-size: 11.5px;
    display: inline-block;
    max-width: 100%;
    overflow-x: hidden;
}

/*USER INFO*/
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p.user-info-p {
    margin: 0;
    font-size: 13px;
    color: #343A40;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: auto;
}

/*SUPPLIERS IMPORT*/
.import-suppliers-table {
    box-shadow: 0px 0px 10px 0px #a7a7a7;
}
.import-suppliers-table-loading {
    color: #ffffff;
    height: 37px;
}
.import-suppliers-table-loading i {
    font-size: 18px;
    margin-left: 10px;
}
/*SUPPLIERS EXPORT*/
.export-suppliers-table-loading {
    background: #F39C12;
    margin-top: 23px;
    line-height: 34px;
    height: 34px;
    color: #ffffff;
}
.export-suppliers-table-loading i {
    font-size: 18px;
    margin-left: 10px;
}
.suppliers-products-comparison.update-price .export-suppliers-table-loading .close {
    margin-top: 0px;
    background: none;
    color: #fff;
    opacity: 0.7;
    font-weight: 100;
}
.suppliers-products-comparison.update-price .export-suppliers-table-loading .close:hover {
    opacity: 1;
}

.ui-autocomplete {
    max-height: 250px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 250px;
}

.description-sale-channels {
    max-width: 200px;
    overflow: hidden;
}

.error-logs-index .download {
    margin: 0;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 10px;
}

.error-logs-index .import-suppliers-table {
    min-height: 150px;
}

.modal-update-price .modal-header {
    text-align: center;
}

.tooltip {
    z-index: 9999;
    position: absolute;
    display: none;
    top: 0;
    background-color: #000;
    padding: 5px 10px 5px 10px;
    color: white;
    opacity: 1;
    border-radius: 5px;
}
.tooltip td {
    padding: 5px;
}

.reports-in-project-index .a-wrapper p a {
    margin: 0 10px 10px;
}

.import-table .title-row{
    font-weight: bold;
}
.import-table .row {
    padding: 0 5px;
    display: flex;
}
.import-table .row > div {
    padding: 15px;
    border: 1px solid #000;
    align-items: center;
    display: flex;
}
.select2-selection__rendered {
    display: block!important;
}
body .select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 0;
}